<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Crypto Mock</title>
    <th:block th:replace="~{fragments/config::configFragment}" ></th:block>
</head>

<body class="min-h-screen">
<div th:replace="~{fragments/header::headerFragment}"></div>
<main class="mx-auto w-full max-w-[1640px] px-4 py-6" layout:fragment="content"></main>
<footer th:replace="~{fragments/footer::footerFragment}"></footer>
</body>
</html>
